//fix flat ui 
.navbar-inverse .nav > li > a {
	border-bottom: 0px;
  border-left: 0px !important;
}

.navbar-inverse .navbar-brand {
  border-bottom: 0px;
  border-right: 0px;
}

.navbar.navbar-inverse .navbar-form {
  border-left: 0px;
  border-bottom: 0px;
}

.btn-success{
	color: #fff !important;
  background-color: #2ecc71  !important;
}

.well {
	background-color: #34495e;
	color: white;
	border: none;
	font-size: 16px !important; 
}

.card {
	margin-bottom: 2px;
	padding: 10px;
	text-align: left;
}

.dim-container {
	margin-bottom: 30px;
	padding-bottom: 15px;	
	background: #f5f2f0;
	text-align: center;
}

.board-container {
	text-align:center;
	vertical-align: middle;
}


.square-card{
	height:200px;
	width:250px;
	display: inline-block;
	text-align: left;
	margin: 10px;
}

.modal{
	text-align: left;
}

.label{
	margin: 5px;
}

.btn-hg{
	margin: 2px;
}

.primary-font{
	color: #16a085;
}


.flex{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-landing{
	height: 100vh;
	display: -ms-flexbox;
	display: -webkit-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

