.alert{
  border-radius: 0px;
}

.alert-danger, .alert-info{
  background-color: #FFFFFF;
}


.list-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

}

.item-list {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  min-width:300px;
  max-width: 300px;
}

.tag-container {
  text-align: left;
  white-space: normal;
  line-height: 10px;
}


.tag{
  display: inline-block;
  height: 10px;
  width: 20%;
}

.dim-container {
	margin-bottom: 30px;
	padding-bottom: 15px;	
	background: #f5f2f0;
	text-align: center;
}


.flex{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-landing{
	height: 100vh;
	display: -ms-flexbox;
	display: -webkit-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

